@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  .bg {
    /* The image used */
    background-image: url("../assets/back-2.jpg");    /* BACKGROUND IMAGE!!! */
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


form{
   margin-top: 100px;
}

.bg-opaque{
    margin-top: 50px;
    font-size: 20px;
    background-color: aliceblue;
    color: #343a40;
    opacity: 0.65;
    padding: 20px;
    border-radius: 5px;
}

.jumbo{
    margin-top: 50px;
    font-size: 40px;
    color: #d1e3ec;
    padding: 20px; 
    line-height: 2;
    height: 90%;
}

.jumbo h1{
    font-size: 110px;
    font-family: 'Bad Script', cursive;
    color: #f4ed46;
    transform: rotate(-7deg)
}

.statement{
  margin-top: 40px;
  font-family:'Cabin Sketch', cursive;
}

.btn-info{
    margin-right: 10px;
}

/* 
footer {
  background-color: aliceblue;
  width: 100%;
  height: 75px;
} */

.row-custom{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

/* .container-custom{
    width: 100%;
    height: 100%;
} */

.bg-ltblue {
  background-color:#d1e3ec !important;
}

.bg-aliceblue{
  background-color: aliceblue;
}

.text-blue{
  color: #16b3b7; 
  
}

.text-brown {
  color:	#887c6f;
  font-family:'Cabin Sketch', cursive;
  font-weight: 700;
}

.git-hub {
  margin-bottom: 0;
}

a {
  color:	#887c6f !important;
  text-decoration: underline !important;
  font-size: larger;
  font-weight: bold;
}