@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Bad+Script&family=Bellota:wght@400;700&family=Catamaran:wght@100;200;300;400;500;600;700;800&family=Dosis:wght@400;500;600;700;800&family=Righteous&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x:hidden;
  }

.bg {
    /* The image used */
    background-image: url("../assets/back-2.jpg");    /* BACKGROUND IMAGE!!! */
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
  background-color: #F7CCBB;
}

form{
   margin-top: 100px;
}

.bg-opaque{
    margin-top: 50px;
    font-size: 20px;
    background-color: aliceblue;
    color: #887c6f;
    opacity: 0.65;
    padding: 20px;
    border-radius: 5px;
}

.jumbo{
    font-size: 40px;
    color: #d1e3ec;
    padding: 20px; 
    line-height: 2;
    height: 90%;
}

.jumbo h1{
    font-size: 6.5rem;
    font-family: 'Bad Script', cursive;
    color: #f4ed46;
    transform: rotate(-7deg)
}

.statement{
  margin-top: 40px;
  color:white;

  font-family: 'Catamaran', sans-serif;
  /* font-family: 'Dosis', sans-serif; */
}

.rounded-circle{
  border: 3px solid #fff;
  padding: 0 0 0 0 !important;
}

.btn-info{
    margin-right: 10px;
}

.row-custom{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}


.text-blue{
  color: #16b3b7; 
  
}

.git-hub {
  margin-bottom: 0;
}

a {
  font-size: larger;
  font-weight: 500;
  /* font-family: 'Bellota', cursive; */
  /* font-family: 'Dosis', sans-serif; */
  font-family: 'Amaranth', sans-serif;
}

a.title {
  color:	rgba(0,0,0,.9) !important;
  font-size: 1.75rem;
  font-family: 'Amaranth', sans-serif;
  /* font-family: 'Catamaran', sans-serif; */
  /* font-family: 'Dosis', sans-serif; */
}

.card {
  background-color: #F7CCBB !important;
}

.card-columns {
  column-gap: 3rem !important;
}

@media only screen and (max-width: 760px) {
  .jumbo h1{
    font-size: 25vw;
  }
}

@media only screen and (min-width: 1000px) {
  .jumbo h1{
    font-size: 9rem;
  }
}